caption{
  text-align: center;
  font-size: xx-large;
  font-family: Vivaldi;
}
table{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: blanchedalmond;
}
.cross{
  opacity: 0;
  float: right;
  margin-top: 0;
  margin-right: 0px;
  margin-left: auto;
}
.user{
  opacity: 0;
  float: right;
}
.cross:hover{
  cursor: pointer;
}
.user:hover{
  cursor: pointer;
}
.meet:hover .cross{
  opacity: 1;
}
.dropdown-item:hover .user{
  opacity: 1;
}
td{
  width: 14%;
}
.btn-group{
  display: flex;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.date{
  text-align: center;
  font-family: Century;
  font-size: large;
}
