<body>
  <table border="2">
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr *ngFor="let item of fakeArr; let i = index">
      <td *ngFor="let meet of meetings; let j=index">
        <div class="meet" *ngIf="meet[i] != undefined">{{i+1}}. Theme: {{meet[i]?.theme}}<div class="cross" (click)="delete(meetings[j][i])">&times;</div>
          <p>begins at {{meet[i].dateOfTheBeginning.substr(11, 8)}}</p>
          <p>ends at {{meet[i].dateOfEnd.substr(11, 8)}}</p>
          <p>Address of room is "{{rooms[j][i]}}"</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{meet[i].membersId.length}} member(s)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let member of members[j][i]" href="#" class="dropdown-item">{{member?.name}}
                <div *ngIf="curName != member?.login && meet[i].creator != member?.login" class="user" (click)="deleteUser(meetings[j][i], member.name)">&times;</div>
              </a>
            </div>
          </div>
      </div></td>
    </tr>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="minusWeek()"><-</button>
    <button type="button" class="btn btn-secondary" (click)="plusWeek()">-></button>
  </div>
  <div class="date">{{curDate.getDate()}}:{{curDate.getMonth()+1}}:{{curDate.getFullYear()}}-{{end.getDate()}}:{{end.getMonth()+1}}:{{end.getFullYear()}}</div>
