<form *ngIf="page == 1" [formGroup]="firstGroup[0]">
  <div>
    <label for="theme">Theme</label>
    <input type="text" id="theme" formControlName="theme">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="date" id="date" name="date" formControlName="date">
  </div>
  <div>
    <label for="timeb">Time of the beginning</label>
    <input type="time" id="timeb" name="timeb" formControlName="time1">
  </div>
  <div>
    <label for="timee">Time of the end</label>
    <input type="time" id="timee" name="timee" formControlName="time2">
  </div>
</form>
<form *ngIf="page ==2" [formGroup]="firstGroup[1]">
  Select a room:
  <ul class="list-group">
    <li *ngFor="let room of rooms" class="btn btn-secondary">
      <input type="radio" value="{{room.id}}" class="option" autocomplete="off" formControlName="contr" (change)="chRoom(room)" >Adress: {{room.adress}}. Capacity = {{room.amount}} </li>
  </ul>
</form>
<form *ngIf="page==3">
  <ul class="list-group">
    <li *ngFor="let user of users" class="btn btn-secondary">
      <input [checked]="user.name==curName" [disabled]="count==val-1 || user.name==curName" type="checkbox" value="{{user.id}}" class="option" autocomplete="off" (change)="change($event)" >{{user.name}}</li>
  </ul>
  <button class="add" (click)="addMeeting()">Add</button>
</form>
<div class="buttons">
  <button [disabled]="page==1" type="button" class="btn btn-outline-dark" (click)="page=page-1"><-</button>{{page}} from 3
  <button [disabled]="firstGroup[page-1].invalid || page==3" type="submit" (click)="plusPage()" class="btn btn-outline-dark" >-></button>
</div>
