<app-menu-user *ngIf="isAuthorized"></app-menu-user>
<div *ngIf="!isAuthorized">
<h1>LOG IN</h1>
<form class="form-1">
  <div>
    <label for="login">Login</label>
    <input type="text" id="login" (input)="setLogin($event.target.value)">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" (input)="setPassword($event.target.value)">
    <p *ngIf="!flag">Login or password is wrong</p>
  </div>
  <button type="button" (click)="login()">Log in</button>
</form>
</div>
